<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mantenimiento"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SistemaTierrasLPR"
            android:exported="false" />
        <activity
            android:name=".EstructuraLPR"
            android:exported="false" />
        <activity
            android:name=".CimentacionLPR"
            android:exported="false" />
        <activity
            android:name=".AnclasLPR"
            android:exported="false" />
        <activity
            android:name=".RegistroMantenimientoLPR"
            android:exported="false" />
        <activity
            android:name=".GabineteLPR"
            android:exported="false" />
        <activity
            android:name=".ElectificacionLPR"
            android:exported="false" />
        <activity
            android:name=".EquipamientoLPR"
            android:exported="false" />
        <activity
            android:name=".PararayoLPR"
            android:exported="false" />
        <activity
            android:name=".SistemaTierrasPMI"
            android:exported="false" />
        <activity
            android:name=".CimentacionPMI"
            android:exported="false" />
        <activity
            android:name=".AnclasPostePMI"
            android:exported="false" />
        <activity
            android:name=".RegistroMantenimientoPMI"
            android:exported="false" />
        <activity
            android:name=".EquipamientoPMI"
            android:exported="false" />
        <activity
            android:name=".PararayoPMI"
            android:exported="false" />
        <activity
            android:name=".BotonPanicoPMI"
            android:exported="false" />
        <activity
            android:name=".AnuncioC5iPMI"
            android:exported="false" />
        <activity
            android:name=".GabinetePMI"
            android:exported="false" />
        <activity
            android:name=".BrazosPMI"
            android:exported="false" />
        <activity
            android:name=".PostePMI"
            android:exported="false" />
        <activity
            android:name=".FormPMI"
            android:exported="false" />
        <activity
            android:name=".MenuLPR"
            android:exported="false" />
        <activity
            android:name=".MenuPMI"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>